<h3><%= @product.name %></h3>
<p>Cost: <%= @product.cost %></p>
<p>Country of origin <%= @product.country_of_origin %></p>

<%= link_to 'Edit Product', edit_product_path %>
<%= link_to 'Delete Product', product_path(@product),
              method: :delete, data: {confirm: 'Are you sure?'} %>
<br>
<div class="row">
  <div class="col-md-12">
    <div class="reviews">
      <h3>Reviews</h3>
      <%= render @product.reviews %>
      <div>
        <%= link_to "Add Reviews", new_product_review_path(@product), class: "btn-custom" %>
      </div>
    </div>
  </div>
</div>
<script>
  $('.review-rating').raty({
    readOnly: true,
    score: function(){
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
</script>